body {
    margin: 0;
    padding: 0;
    background: url('/static/img/home_back.jpg') no-repeat center center fixed;
    background-size: cover;
}

.plans-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 70px;
    padding-bottom: 30px;
}
.plan{
    margin: 0;
    padding: 0;
    padding-top: 60px;
    text-align: center;
}

.card {
    flex: 1 1 calc(33.333% - 20px);
    max-width: 350px;
    box-sizing: border-box;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    display: block;

}

.card-text {
    flex-grow: 1;
}






