<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stwórz Własny Plan</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header_footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_plan.css' %}">
    <link rel="stylesheet" href="https://bootswatch.com/5/united/bootstrap.min.css">
</head>
<body>
    <div class="custom_container">
        <div class="custom-header">
            <div class="logo"><a href="{% url 'home' %}">DietaPlan</a></div>
            <div class="menu">
                <div class="menu-item"><a href="{% url 'home' %}">Strona główna</a></div>
                <div class="menu-item"><a href="{% url 'plan_list' %}">Plany dietetyczne</a></div>
                <div class="menu-item"><a href="{% url 'kalkulator' %}">Kalkulator kalorii</a></div>
                <!-- <div class="menu-item">Konto</div> ????-->
            </div>
        </div>
        <div class="content">
            <div class="plan">
                <h1>Stwórz Własny Plan</h1>
                <p>Wybierz liczbę posiłków, a następnie wybierz posiłki z list:</p>
            </div>
            <div class="mb-3">
                <label for="mealCount" class="form-label">Liczba posiłków w diecie:</label>
                <select id="mealCount" class="form-select">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                </select>
            </div>

            <div id="mealSelectors"></div>

            <h3 id="totalCalories" class="mt-4">Suma kalorii: 0 kcal</h3>

            <div class="butt_plans">
                <a href="{% url 'plan_list' %}" class="btn btn-secondary mt-3">Powrót do listy planów</a>
                <a href="{% url 'custom_plan_detail' %}" class="btn btn-primary mt-3">Przejdź do planu</a>
            </div>
        </div>
        <div class="custom-footer">
            <h3 class="footer-title">Przejdź do</h3>
            <div class="footer-links">
                <a href="{% url 'plan_list' %}">Plany dietetyczne</a>
                <a href="{% url 'kalkulator' %}">Kalkulator kalorii</a>
                <a href="{% url 'products' %}">Baza produktów</a>
            </div>
        </div>
    </div>

    <script id="meals-data" type="application/json">
        {{ meals_json|safe }}
    </script>
    <script id="selected-meals-data" type="application/json">
        {{ selected_meals_json|safe }}
    </script>
    <script>
        const editMode = true;  // tryb edycji
        const customPlanDetailUrl = "{% url 'custom_plan_detail' %}";
    </script>
    <script src="{% static 'js/edit_plan_js.js' %}"></script>
</body>
</html>