<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home_css.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_footer.css' %}">

</head>
<body>
    <div class="home-page">
        <!-- Nagłówek -->
        <div class="custom-header">
            <div class="logo"><a href="{% url 'home' %}">DietaPlan</a></div>
            <div class="menu">
                <div class="menu-item"><a href="{% url 'home' %}">Strona główna</a></div>
                <div class="menu-item"><a href="{% url 'plan_list' %}">Plany dietetyczne</a></div>
                <div class="menu-item"><a href="{% url 'kalkulator' %}">Kalkulator kalorii</a></div>
                <!-- <div class="menu-item">Konto</div> ????-->
            </div>
        </div>

        <!-- Hero Section -->
        <div class="hero-section">
            <h1 class="hero-title">Zadbaj o swoją dietę z DietaPlan!</h1>
            <p class="hero-subtitle">
                Sprawdź spersonalizowane plany dietetyczne, kontroluj swoje spożycie kalorii i realizuj swoje cele zdrowotne.
            </p>
            <input type="button" onclick="location.href='{% url 'plan_list' %}';" value="Sprawdź plany" />
        </div>

        <section class="features-services">

            <h2 class="section-title">Dlaczego warto skorzystać z naszych usług?</h2>
            <p class="section-description">
                Oferujemy spersonalizowane plany dietetyczne, które są idealnie dopasowane do Twoich potrzeb i celów.
            </p>


            <div class="services">
                <div class="service-item">
                    <div class="service-image" style="background-image: url('/static/img/diet.jpg');"></div>
                    <h3 class="service-title">Plany dietetyczne</h3>
                    <p class="service-description">Wybierz dietę idealnie dopasowaną do Twojego stylu życia i celów</p>
                    <button class="service-button" onclick="location.href='{% url 'plan_list' %}'">Sprawdź plany</button>
                </div>
                <div class="service-item">
                    <div class="service-image" style="background-image: url('/static/img/calc.jpg');"></div>
                    <h3 class="service-title">Kalkulator kalorii</h3>
                    <p class="service-description">Śledź spożycie kalorii i makroskładników każdego dnia<br><br></p>
                    <button class="service-button" onclick="location.href='{% url 'kalkulator' %}'">Oblicz kalorie</button>
                </div>
                <div class="service-item">
                    <div class="service-image" style="background-image: url('/static/img/products.png');"></div>
                    <h3 class="service-title">Baza produktów</h3>
                    <p class="service-description">Wybieraj z setek produktów spożywczych i sprawdź ile mają kalorii</p>
                    <button class="service-button" onclick="location.href='{% url 'products' %}'">Sprawdź produkty</button>
                </div>
            </div>
        </section>



        <div class="custom-footer">
            <h3 class="footer-title">Przejdź do</h3>
            <div class="footer-links">
                <a href="{% url 'plan_list' %}">Plany dietetyczne</a>
                <a href="{% url 'kalkulator' %}">Kalkulator kalorii</a>
                <a href="{% url 'products' %}">Baza produktów</a>
            </div>
        </div>
    </div>
</body>
</html>
