<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator Kalorii</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/united/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header_footer.css' %}">
</head>
<body>
    <div class="custom-header">
        <div class="logo"><a href="{% url 'home' %}">DietaPlan</a></div>
        <div class="menu">
            <div class="menu-item"><a href="{% url 'home' %}">Strona główna</a></div>
            <div class="menu-item"><a href="{% url 'plan_list' %}">Plany dietetyczne</a></div>
            <div class="menu-item"><a href="{% url 'kalkulator' %}">Kalkulator kalorii</a></div>
        </div>
    </div>

    <h1>Kalkulator Kalorii</h1>
    <p>Śledź spożycie kalorii i makroskładników każdego dnia.</p>

    <!-- Formularz kalkulatora -->
    <form id="cpmForm">
        <label for="weight">Masa ciała (kg):</label>
        <input type="number" id="weight" name="weight" required>

        <label for="height">Wzrost (cm):</label>
        <input type="number" id="height" name="height" required>

        <label for="age">Wiek:</label>
        <input type="number" id="age" name="age" required>

        <label for="gender">Płeć:</label>
        <select id="gender" name="gender" required>
            <option value="">Wybierz...</option>
            <option value="female">Kobieta</option>
            <option value="male">Mężczyzna</option>
        </select>

        <label for="activity">Aktywność fizyczna:</label>
        <select id="activity" name="activity" required>
            <option value="">Wybierz...</option>
            <option value="1.2">1 - brak aktywności fizycznej</option>
            <option value="1.4">2 - mała aktywność</option>
            <option value="1.6">3 - średni poziom aktywności</option>
            <option value="1.75">4 - aktywny tryb życia</option>
            <option value="2.0">5 - bardzo aktywny tryb życia</option>
        </select>

        <button type="button" onclick="calculateCPM()">Oblicz CPM</button>
    </form>

    <!-- Wyświetlanie wyniku -->
    <p id="result">Twoje CPM wynosi: <span id="cpmValue"></span></p>
    <p id="errorMessage" style="color: red; display: none;">Uzupełnij wszystkie dane!</p>
    <!-- Drugi kalk-->
    <h2>Ile spożyłeś kalorii?</h2>
        <input type="text" id="search" placeholder="Szukaj" oninput="filterProducts()">
        <div class="product-list" style="max-height: 200px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px;">
            <ul id="productList">
                {% for product in products %}
                <li data-id="{{ product.id_prod }}" data-calories="{{ product.calories_per_100g }}">
                    {{ product.product_name }} - {{ product.calories_per_100g }} kcal na 100g
                    <input type="number" id="grams-{{ product.id_prod }}" placeholder="Ile gram" style="width: 80px;">
                    <button onclick="addProduct({{ product.id_prod }}, '{{ product.product_name }}', {{ product.calories_per_100g }})">Dodaj</button>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Lista zjedzonych produktów -->
        <h3>Wybrane produkty</h3>
        <div class="selected-products" style="border: 1px solid #ccc; padding: 10px;">
            <ul id="selectedProductList"></ul>
        </div>
        <button onclick="clearAllProducts()">Wyczyść</button>

        <!-- Wynik -->
        <div class="result">
            <p>Twój wynik:</p>
            <button id="totalCalories">0 kcal</button>
        </div>

        <div class="custom-footer">
            <h3 class="footer-title">Przejdź do</h3>
            <div class="footer-links">
                <a href="{% url 'plan_list' %}">Plany dietetyczne</a>
                <a href="{% url 'kalkulator' %}">Kalkulator kalorii</a>
                <a href="#">Baza produktów</a>
            </div>
        </div>


    <script src="{% static 'js/calculator_js.js' %}"></script>
    <script src="{% static 'js/calculator_food.js' %}"></script>
</body>
</html>
